<div id="{{ id }}">
	<machinepack-shortcode-payment />
</div>
<script type="text/x-template" id="{{ id }}-template">
<machinepack-payment
{% for key in settings|keys %}
	:{{key}}="{{key}}"
{% endfor %}
/>
</script>
<script>
	jQuery(function($) {
		Vue.use(MachinePack, {
			apiRoot: '{{ api_root }}'
		})
		Vue.component('machinepack-shortcode-payment', {
			data: function () {
				return {{ settings|json_encode()|raw }}
			},
			template: '#{{ id }}-template'
		})
		new Vue({ el: '#{{ id }}' })
	})
</script>
