<div>
	<h1>{{ title }}<h1>
	{% if submit and success %}
		<div class="success" style="background-color: lightgreen">
			<h2> Payment successful </h2>
			<p>{{ message }}</p>
		</div>
	{% elseif submit and not success %}
		<div class="failure" style="background-color: tomato">
			<h2> Payment failed </h2>
			<p>{{ message }}</p>
		</div>
	{% endif %}

	{% for provider in providers %}
		{% if provider == 'paypal' %}
		<form action="{{ submit_url }}" method="POST">
			Amount: <input type="text" name="Payment[MonetaryAmount.value]" value="{{ Payment['MonetaryAmount.value'] }}" required />
			<input type="text" name="Payment[MonetaryAmount.currency]" value="{{ Payment['MonetaryAmount.currency'] | default('AUD') }}" required />
			<input type="hidden" name="PayPal" value="true" />
			<input type="submit" value="Pay using PayPal" />
		</form>
		{% endif %}
	{% endfor %}
</div>
