<template>
<div class="machinepack-payment-test">
	<machinepack-payment
		:paypal="paypal"
		:stripe="stripe"
		currency="aud"
		:subscription-cost-monthly="10.0"
		subscription-plan-stripe-id="plan_EEbedDqYS9jXVO"
	/>
</div>
</template>

<script>
export default {
	name: 'machinepack-wordpress-plugin-app',
	data: function() {
		return {
			"paypal": {
				"client_id": "<sandbox client id>"
			},
			"stripe": {
				"key": "pk_test_xHJraTU0YmchLYZyR6dHlL5y",
				"token": "rk_test_q0tE2GYp235tlclytzNYVKm9"
			}
		}
	},
}
</script>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../node_modules/bootstrap/scss/forms.scss';
@import '../node_modules/bootstrap/scss/nav.scss';
@import '../node_modules/bootstrap/scss/grid.scss';
@import '../node_modules/bootstrap/scss/buttons.scss';
@import '../node_modules/bootstrap/scss/alert.scss';
@import '../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
.machinepack-payment-test {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
	background-color: $body-bg;
}
</style>
